<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>verEmpresas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!--<link rel="stylesheet" th:href="@{/css/style.css}">-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="containerMain">

        <nav>
            <div class="container" >
                <div class="imgLogo" >
                    <img src="https://www.kindpng.com/picc/m/219-2195660_software-mobile-applications-web-development-web-development-icon.png" width="100" height="auto">
                </div>

                <div class="titleContainer">
                    <a href="#">Tienda Virtual</a>
                </div>

                <ul class="nav">
                    <li class="active"><a th:href="@{/VerEmpresas}">Empresas</a></li>
                    <li><a th:href="@{/VerMovimientos}">Movimientos</a></li>
                    <li><a th:href="@{/VerEmpleados}">Empleados</a></li>
                </ul>

            </div>
        </nav>
            <div class="email-cerrar">
            <p th:inline="text" class="nameEmail">User: [[${#httpServletRequest.remoteUser}]]</p>
            <button type="button" class="btn-azul-claro-cerrar-secion"><a th:href="@{/logout}">Cerrar Sesión</a></button>
            </div>
            <h1 class="sudTitle">Ver empresas</h1>

            <!--Dibujamos la tabla-->
            <br>
            <table class="table table-striped"> <!-- Se cambió table table-bordered. gogo -->
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>NIT</th>
                    <th>Empleados</th>
                    <th>Movimientos</th>
                    <th>Editar</th>
                    <th>Eliminar</th>

                </tr>

                <!--Llenamos la tabla dibujada-->
                <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
                <tr th:each="empresa : ${emplist}">
                    <td th:text="${empresa.id}"></td>
                    <td th:text="${empresa.nombre}"></td>
                    <td th:text="${empresa.direccion}"></td>
                    <td th:text="${empresa.telefono}"></td>
                    <td th:text="${empresa.NIT}"></td>
                    <td><button type="button" class="btn-azul-oscuro-empleado"><a th:href="@{/Empresa/{id}/Empleados (id=${empresa.id})}">Ver</a></button></td>
                    <td><button type="button" class="btn-azul-oscuro-movimiento"><a th:href="@{/Empresa/{id}/Movimientos (id=${empresa.id})}">Ver</a></button></td>
                    <td><button type="button" class="btn-naranja-editar"><a th:href="@{/EditarEmpresa/{id}(id=${empresa.id})}">Editar</a></button></td>
                    <td><button type="button" class="btn-rojo-eliminar"><a th:href="@{/EliminarEmpresa/{id}(id=${empresa.id})}">Eliminar</a></button></td>
                </tr>
            </table>

                    <!-- vamos a crear un boton que sirva para agregar nuevas empresas -->
                    <div class="btn-agregar-empresa-empleado">
                    <button type="button" class="btn-azul-oscuro"><a th:href="@{/AgregarEmpresa}">Agregar Nueva Empresa </a></button>
                    <button type="button" class="btn-azul-oscuro"><a th:href="@{/AgregarEmpleado}">Agregar Nuevo Empleado</a></button>
                        <a href="javascript: history.go(-1)" class="btn-azul-claro-atras" role="button">Atrás</a>
                    </div>


    </div>

    <footer>Autores: Paula Andrea, Gonzalo, Edwin Bernal</footer>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
        }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

</body>
</html>